<h1>Tallac</h1>

<br><p>Le grand manitou a créé les animaux du mont de Tallac en leur donnant des formes différentes, et si on prend les ours par exemple, certains sont énormes mais se régalent en mangeant des fruits et du miel, alors que d'autres sont des bêtes féroces qui déciment les troupeaux...</p>
<p>Si François appartient au deuxième groupe, celui des bêtes féroces, il continuera à attaquer les troupeaux jusqu'à la fin de ses jours c'est certain, alors la seule chance pour lui de rester en vie c'est de s'exiler dans un endroit où les Hommes ne vont jamais et où il ne risquera pas d'être abattu comme une bête malfaisante</p>