<!-- La page about/ton_groupe -->
<h1>La Pléïade</h1>
<br><p>La Pléiade est un groupe de sept poètes français du XVIe siècle, dont Pierre de Ronsard et Joachim Du Bellay ont fait partie.<br>À travers leurs œuvres littéraires et leurs textes théoriques, leur ambition était de renouveler la langue française, afin de la rendre indépendante d'autres idiomes alors plus « nobles » comme le latin.<br>Le but politique était de participer à l'unification de la France à travers la langue française.</p>

<p>François D. est le créateur de ce groupe, le huitième et premier membre, l'Immortel, l'Alchimiste.</p>